<div style="width: 400px;">
    <h3>Create a new notebook</h3>
    <form action="/notebook/action/save" method="post">
        <p>Name: <input type="text" name="name"/></p>
        <p>Processor: <input type="text" name="processor"/></p>
        <p>RAM: <input type="number" name="ram"/></p>
        <p>Video memory: <input type="number" name="video_memory"/></p>
        <button type="submit">Save</button>
    </form>
</div>
