<?php /** @var Ivanko\Notebook\Block\Load $block */ ?>
<style>
    .notebook_view {
        width: 210px;
        margin: 5px;
        background-color: #a3c4ff;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        display: inline-block;
    }
</style>
<div class="notebook_view">
    <h2>Notebook ID-<?= $block->getNotebook()->getId(); ?></h2>
    <h3>Name: <big><?= $block->getNotebook()->getName(); ?></big></h3>
    <h3>Processor: <big><?= $block->getNotebook()->getProcessor(); ?></big></h3>
    <h3>RAM: <big><?= $block->getNotebook()->getRam(); ?></big></h3>
    <h3>Video memory: <big><?= $block->getNotebook()->getVideoMemory(); ?></big></h3>
</div>