<?php /** @var Ivanko\Notebook\Block\Load $block */ ?>
<style>
    .notebook_view {
        width: 210px;
        margin: 5px;
        background-color: #a3c4ff;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        display: inline-block;
    }

    .pages {
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
    }

    .list {
        text-align: center;
    }

    .list .current-page a, .list .another-page a {
        margin-right: 2px;
        padding: 8px 8px 0px 10px;
        display: block;
        color: #2a2a2a;
    }

    .another-page, .current-page {
        font-size: 20px;
        display: inline-block;
        border-radius: 5px;
    }

    .current-page {
        background-color: #a3c4ff;
    }
</style>
<?php foreach ($block->getNotebookCollection() as $notebook): ?>
    <div class="notebook_view">
        <h2>Notebook ID-<?= $notebook->getId(); ?></h2>
        <h3>Name: <big><?= $notebook->getName(); ?></big></h3>
        <h3>Processor: <big><?= $notebook->getProcessor(); ?></big></h3>
        <h3>RAM: <big><?= $notebook->getRam(); ?></big> GB</h3>
        <h3>Video memory: <big><?= $notebook->getVideoMemory(); ?></big> GB</h3>
    </div>
<?php endforeach; ?>
<div class="pages">
    <div class="list">
        <?php for ($i = 1; $i <= $block->getNumberOfPages(); $i++): ?>
            <?php if ($i == $block->getRequest()->getParam('page')): ?>
                <div class="current-page">
                    <a href="/notebook/catalog/view/page/<?= $i; ?>"><?= $i; ?></a>
                </div>
            <?php else: ?>
                <div class="another-page">
                    <a href="/notebook/catalog/view/page/<?= $i; ?>"><?= $i; ?></a>
                </div>
            <?php endif; ?>
        <?php endfor; ?>
    </div>
</div>
