<?php /** @var $block Elogic\Test\Block\Test */ ?>
<div>
    test output!
</div>
<?php
$product = $block->getProduct();
?>

<div>
    <div>
        <span><?php echo  __("Name") ?>: </span><span><?php echo $product->getName(); ?></span>
    </div>
    <div>
        <span><?php echo  __("Price") ?>: </span><span><?php echo $product->getPrice(); ?></span>
    </div>
</div>
