<?php
/** @var Ivanko\Smartphone\Block\Load $block */
/** @var Ivanko\Smartphone\Api\Data\SmartphoneInterface $smartphone */
$smartphone = $block->getSmartphone();
?>
<div class="smartphone_view">
    <table>
        <tr>
            <th width="500px">
                <div class="image_phone">
                    <h2><?= $smartphone->getModel(); ?></h2>
                    <img src="<?= $block->getViewFileUrl('Ivanko_Smartphone::img/phone.png'); ?>" alt="phone">
                    <h3><?= $smartphone->getDescription(); ?></h3>
                </div>
            </th>
            <th>
                <div class="content">
                    <h3>Display: <?= $smartphone->getDisplay(); ?> dm</h3>
                    <h3>Resolution: <?= $smartphone->getResolution(); ?></h3>
                    <h3>Processor: <?= $smartphone->getProcessor(); ?></h3>
                    <h3>Operating System: <?= $smartphone->getOs(); ?></h3>
                    <h3>Storage: <?= $smartphone->getStorage(); ?> (Gb)</h3>
                    <h3>RAM: <?= $smartphone->getRam(); ?> (Gb)</h3>
                    <h3>Camera: <?= $smartphone->getCamera(); ?> (Mpx)</h3>
                    <h3>Battery: <?= $smartphone->getBattery(); ?> (mA)</h3>
                    <h2>Price: <?= $smartphone->getPrice(); ?> grn</h2>
                </div>
            </th>
        </tr>
    </table>
</div>
